<!DOCTYPE html>

{% extends 'food/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic/basic.css' %}">

{% block title_block %}
    {% if  user_profile %}
        {{ user_profile.username }}
        
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    <h2>{{boldmessage}}</h2>

    <h3>My favourites</h3>
    {% for slug in slugs %}

         <li>
            <a href="{% url 'food:show_restaurant' slug %}">
                {{ slug }}
            </a>
        </li>
    {% endfor %}


    <h3>Add a new favourite </h3>
    <form id = "add_favourite_form" method = "get" action="{% url 'food:add_favourite' %}">
        
        <input type= "text" name =text class = "search" placeholder = "Type restaurant name here">
        <input type= "submit" name =submit class = "submit" value = "Search">
    </form>

 {% endblock %}