<!DOCTYPE html>
{% extends 'food/base.html' %}
{% block title_block %}
    Add Restaurant
{% endblock %}
    
{% block body_block %}
        <h1>Add a Restaurant</h1>
        {% if user.is_authenticated %}
            <div>
                 <form id="category_form" method="post" action="{% url 'food:add_restaurant' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
			<br>
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endfor %}
			<br>
                    <input type="submit" name="submit" value="Add Restaurant" />
                </form>
            </div>
        {% endif %}
{% endblock %}
</html>
                    
                    