<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html>
	<head>
		<meta charset="UTF-8"/>
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/basic/basic.css' %}">
		
		 <title>
			Rango - 
			{% block title_block %}
				How to Tango with Django!
			{% endblock %}
		</title>

	  </head>
    <body>
	<div>
	{% if user.is_authenticated %}
					<!-- Show these links when the user is logged in -->
					<nav>
					<label class="logo"> GlasgowFoood</label>
					<ul>
					<a>{% if user.is_authenticated %}
				    howdy {{ user.username }}!</a>
		
					<li><a href="{% url 'food:logout' %}">Logout</a></li>
					<li><a class="active" href="{% url 'food:index' %}">Homepage</a></li>
		
			{% endif %}
					</ul>
					</nav>
		{% else %}
					<!-- Show these links when the user is NOT logged in -->
					<nav>
					<label class="logo"> GlasgowFoood</label>
					<ul>
					<li><a href="{% url 'food:register' %}">Sign Up</a></li>
					<li><a href="{% url 'food:login' %}">Log In</a></li>
					<li><a class="active" href="{% url 'food:index' %}">Homepage</a></li>
					</ul>
					</nav>
				
					
		{% endif %}
		{% block body_block %}
			This is body_block's default content.
		{% endblock %}
	
		</div>
		<footer>Contact Details +132041230482134</footer>
		<div>
			{%block sidebar_block %}
				
			{% endblock %}
		</div>
		
  
    
	  
    </body> 
</html>
