<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/basic/basic.css' %}">
		
		 <title>
			Rango - 
			{% block title_block %}
				How to Tango with Django!
			{% endblock %}
		</title>
	  </head>
    <body>
	<div>
		{% block body_block %}
			This is body_block's default content.
		{% endblock %}
		</div>
		<div>
			{%block sidebar_block %}
				
			{% endblock %}
		</div>
      <header><li><a href="{% url 'food:register' %}">Sign Up</a></li></header>
      <nav><li><a href="{% url 'food:login' %}">Log In</a></li></nav>
      <footer>Contact Details +132041230482134</footer>
	  <home><li><a href="{% url 'food:index' %}">Homepage</a></li></home>
    </body> 
</html>
