<!DOCTYPE html>
{% load staticfiles %}


<html>
	<head lang="en">
		<meta charset="UTF-8"/>
		 <link rel="stylesheet" href="style.css">
		 <title>
			Rango - 
			{% block title_block %}
				How to Tango with Django!
			{% endblock %}
		</title>
	  </head>
    <body>
	<div>
		{% block body_block %}
			This is body_block's default content.
		{% endblock %}
		</div>
		<div>
			{%block sidebar_block %}
				
			{% endblock %}
		</div>
      <header><li><a href="{% url 'food:register' %}">Sign up</a></header>
      <nav><li><a href="{% url 'food:login' %}">Login</a></li></nav>
      <footer>Contact Details +132041230482134</footer>
	  <home> <li><a href="{% url 'food:index' %}">Index</a></li> </home>
	  <maintxt> bla bla bla </maintxt>
    </body> 
</html>
