<!DOCTYPE html>

{% extends 'food/base.html' %}

{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic/basic.css' %}">

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
		<h1>Home</h1>

		
		{{boldmessage}}
		<form id = "seach_form" method = "get" action="{% url 'food:search' %}">
		
		<input type= "text" name =text class = "search" placeholder = "Search Here">
		<input type= "submit" name =submit class = "submit" value = "Search">
		</form>	
		
		<div>
            <li><a href="{% url 'food:show_restaurants' %}">See our restaurants!</a></li>

            {% if user_profile.is_owner %}
                <li><a href="{% url 'food:add_restaurant' %}">Add a restaurant!</a></li>
            
			{% endif %}
		</div>
		
{% endblock %}
	
</html>