<!DOCTYPE html>

{% extends 'food/base.html' %}

{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic/basic.css' %}">

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
		<h1>Home</h1>

		
		
		<form>
		<select name="sortby">
			<option value="price">price</option>
			<option value="stars">stars</option>
		</select>
		<input type= "text" name =text class = "search" placeholder = "Search Here">
		<input type= "submit" name =submit class = "submit" value = "Search">
		</form>	
		<div>
            <li><a href="{% url 'food:show_restaurants' %}">See our restaurants!</a></li>
			{% if user.is_authenticated %}
            
            <li><a href="{% url 'food:add_restaurant' %}">Add a restaurant!</a></li>
            
			{% endif %}
		</div>
		
{% endblock %}
	
</html>