<!DOCTYPE html>

{% extends 'food/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic/login.css' %}">
{% block title_block %}

    Login
{% endblock %}

{% block navbarleft_block %}
    <li><a href="{% url 'food:index' %}">Home</a></li>
	<li><a href="{% url 'food:show_restaurants' %}">Restaurants</a></li>
{% endblock %}

{% block body_block %}
<center>
    <div class= "containeradd">
    
        <header>Login to Glasgow Food</header>
        <br>
        <form id="login_form" method="post" action="{% url 'food:login' %}">
            {% csrf_token %}

            Username: <input  type="text" name="username" value="" size="50" />
            <br />
            <br>
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <br>
            <input type="submit" value="submit" />
			  <br />
            <br>
        </form>
    </center>
    </div>
{% endblock %}
</html>