<!DOCTYPE html>

{% extends 'food/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic/basic.css' %}">

{% block title_block %}
    {% if restaurant %}
        {{ restaurant.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if restaurant %}
        <h1>{{ restaurant.name }}</h1>
        {% if comments %}
            <ul>
				<table class = "paleBlueRows">
					<thead>
						<tr>
							<th>Username</th>
							<th>Rating</th>
							<th>Price Rating</th>
							<th>Comment</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{% for comment in comments %}
							<tr>
								<td>{{comment.user.username}}</td>
								<td>{{comment.rating}}</td>
								<td>{{comment.price}}</td>
								<td>{{comment.comment}}</td>
								<td>{{comment.date_time}}</td>
							</tr>
						{% endfor %} 
					</tbody>
				</table> 
            </ul>
        {% else %}
            <strong>No comments currently in restaurant.</strong>
        {% endif %}
        {% if user.is_authenticated %}
            

            <a href="{% url 'food:add_comment' restaurant.slug %}">Add Comment</a> <br />

        {% endif %}
    {% else %}
        The specified restaurant does not exist.
    {% endif %}
 {% endblock %}