<!DOCTYPE html>

{% extends 'food/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if restaurant %}
        {{ restaurant.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if restaurant %}
        <h1>{{ restaurant.name }}</h1>
        {% if comments %}
            <ul>
                {% for comment in comments %}
                <p>{{comment.user.username}} says: {{comment.comment}} </p>
                {% endfor %}  
            </ul>
        {% else %}
            <strong>No comments currently in restaurant.</strong>
        {% endif %}
        {% if user.is_authenticated %}
            <!--<a href="{% url 'food:add_comment' %}">Add comment</a> <br />-->
            <a href="{% url 'food:add_comment' restaurant.slug %}">Add Comment</a> <br />

        {% endif %}
    {% else %}
        The specified restaurant does not exist.
    {% endif %}
 {% endblock %}