<!DOCTYPE html>

{% extends 'food/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basic/WithBootStrap.css' %}">

{% block title_block %}
    {% if restaurant %}
        {{ restaurant.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block navbarleft_block %}
    <li><a href="{% url 'food:index' %}">Home</a></li>
	<li class="active"><a href="{% url 'food:show_restaurants' %}">Restaurants</a></li>
{% endblock %}


{% block body_block %}
    <div class="container">
        <div align = "right">
            <form id = "seach_form" method = "get" action="{% url 'food:search' %}">
            <input  type= "text" name =text class = "search" placeholder = "Restaurant Search">
            <input  type= "submit" name =submit class = "submit" value = "Search">
        </div>
        <center>
        {% if restaurant %}
            <h1>{{ restaurant.name }}</h1>
            {% if restaurant.picture %}
            <div class = "resized">
                <img src="/media/{{restaurant.picture}}"/>
            </div>
            {% endif %}
            <br>
            <table class="steelBlueCols">
                <tbody>
                    <tr>
                        <td>{{restaurant.detailed}}</td>
                    </tr>
                </tbody>
            </table>
             
            <table class="steelBlueCols">
                <tbody>
                    <tr>
                        <td>Restaurant rating: {{restaurant.rating}}/5</th>
                        <td>Restaurant price: {{restaurant.price}}/3</th>
                    </tr>
                    <tr>
                        <td> Email: {{restaurant.email_address}} </td>
                        <td> Phone Number: {{restaurant.phone_number}} </td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td> {{restaurant.address}} </td>
                </tbody>
            </table>
               
            <br>
            {% if comments %}
                <ul>
                    <table class = "paleBlueRows">
                    
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Rating</th>
                                <th>Price Rating</th>
                                <th>Comment</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{comment.user.username}}</td>
                                    <td>{{comment.rating}}</td>
                                    <td>{{comment.price}}</td>
                                    <td>{{comment.comment}}</td>
                                    <td>{{comment.date_time}}</td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table> 
                </ul>
            {% else %}
                <strong>No comments currently in restaurant.</strong>
            {% endif %}
            {% if user.is_authenticated %}
                 <button onclick="window.location.href = '{% url 'food:add_comment' restaurant.slug %}';">Add Comment</button>
            {% endif %}
        {% else %}
            The specified restaurant does not exist.
        {% endif %}
        <br>
        <br>
        </center>
    </div>
	
    <div class = "container">
	<u2>
        <div id="googleMap" style="width:100%;height:400px;"></div>
    </div>
    
<script>
function myMap() {
var myLatLng = {lat: {{restaurant.lat}}, lng: {{restaurant.lng}}};
var mapProp= {
  center:myLatLng,
  zoom:10,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({
          position: myLatLng,
	  map: map,
          title: "{{restaurant.name}}",
        });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmUGPJiebANVL4RREtEf85KvCiYHE6GlU&callback=myMap"></script>
	</u2>
 {% endblock %}
 
 </html>