html {
    background-color: #D3D3D3;
    padding: 10px;
	height: 3000px
}

body {
    background-color: yellow;
    margin: 0;
	top: 60px;
	bottom: 60px;
	position: relative;
}

header {
    background-color:turquoise;
	position: fixed;
	top: 20px;
	right:20px ;  
	padding: 10px;
	
	
}

nav {
      background-color: turquoise;
	position: fixed;
	top: 20px;
	right:140px ;  
	padding: 10px;
	
	
}

footer {
    background-color: turquoise; 
    margin: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	padding: 10px;
}

home {
    background-color: turquoise;
	position: fixed;
	top: 20px;
	left:20px ;  
	padding: 10px;
	
	
}
